@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:wght@600&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@font-face {
    font-family: cover;
    src: url(/assets/tipografia/Coves\ Light.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* main {
    width: 100%;
    max-width: 1200px;
} */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.a {
    position: relative;
}

br {
    display: none;
}

/* Header */

header {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    top: 0;
    right: 0;
    transition: all 300ms;
    z-index: 100;
    backdrop-filter: blur(8px);
}

/* Nav */

nav {
    background: rgba(94, 45, 218);
    backdrop-filter: blur(90px);
    padding: 1em 0;
}

nav div {
    width: 100px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav a {
    color: white;
}

/* Waves */

.background {
    background: #5e2dda;
    background: linear-gradient(180deg, rgba(94,45,218,1) 15%, rgba(218,45,204,1) 79%);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0em;
}

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0{
    0%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 68.92564102564103,240.38461538461536 137.85128205128206,230.76923076923075 219,229 C 300.14871794871794,227.23076923076925 393.52051282051275,233.30769230769232 484,217 C 574.4794871794873,200.69230769230768 662.0666666666668,162 733,179 C 803.9333333333332,196 858.2128205128204,268.6923076923077 944,274 C 1029.7871794871796,279.3076923076923 1147.0820512820515,217.23076923076923 1235,202 C 1322.9179487179485,186.76923076923077 1381.4589743589743,218.3846153846154 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 82.48461538461541,243.1076923076923 164.96923076923082,236.2153846153846 254,229 C 343.0307692307692,221.7846153846154 438.6076923076922,214.24615384615387 508,228 C 577.3923076923078,241.75384615384613 620.6000000000001,276.8 693,296 C 765.3999999999999,315.2 866.9923076923076,318.5538461538461 961,297 C 1055.0076923076924,275.4461538461539 1141.4307692307693,228.98461538461538 1220,217 C 1298.5692307692307,205.01538461538462 1369.2846153846153,227.5076923076923 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 92.15128205128207,239.57435897435897 184.30256410256413,229.14871794871797 277,212 C 369.69743589743587,194.85128205128203 462.9410256410256,170.97948717948717 521,198 C 579.0589743589744,225.02051282051283 601.9333333333333,302.93333333333334 680,327 C 758.0666666666667,351.06666666666666 891.3256410256411,321.2871794871795 976,276 C 1060.674358974359,230.7128205128205 1096.7641025641026,169.91794871794872 1166,163 C 1235.2358974358974,156.08205128205128 1337.6179487179488,203.04102564102564 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 92.75641025641025,210.95128205128205 185.5128205128205,171.9025641025641 271,156 C 356.4871794871795,140.0974358974359 434.7051282051282,147.34102564102565 513,182 C 591.2948717948718,216.65897435897435 669.6666666666667,278.7333333333333 731,289 C 792.3333333333333,299.2666666666667 836.6282051282051,257.72564102564104 922,240 C 1007.3717948717949,222.27435897435896 1133.820512820513,228.36410256410258 1227,234 C 1320.179487179487,239.63589743589742 1380.0897435897436,244.8179487179487 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
    d: path("M 0,500 C 0,500 0,250 0,250 C 68.92564102564103,240.38461538461536 137.85128205128206,230.76923076923075 219,229 C 300.14871794871794,227.23076923076925 393.52051282051275,233.30769230769232 484,217 C 574.4794871794873,200.69230769230768 662.0666666666668,162 733,179 C 803.9333333333332,196 858.2128205128204,268.6923076923077 944,274 C 1029.7871794871796,279.3076923076923 1147.0820512820515,217.23076923076923 1235,202 C 1322.9179487179485,186.76923076923077 1381.4589743589743,218.3846153846154 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
}

/* Contenido del 'header' */

.img_math {
    width: 300px;
    margin-top: 2em;
    transition: all 300ms;
    animation: identifier 6s ease-in-out infinite;
}

@keyframes identifier {
    0% { transform: translatey(5px); }
    50% { transform: translatey(15px); }
    100% { transform: translatey(5px); }
}

.title {
    font-family: cover, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    color: white;
}

/* Forms */

.form {
    max-width: 500px;
    padding: 2em;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #cac4c9,
                 -20px -20px 60px #ffffff;
    margin: 2em auto 4em auto;
}

#firts_form, #second_form, #third_form, #four_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#form1 {
    display: flex;
    transition: 4s;
}

#form2, #form3, #form4 {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(30em);
    transition: 4s;
    display: none;
}

#finish {
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(30em);
    transition: 4s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#finish h1 {
    font-weight: 400;
    margin-top: -1.2em;
    margin-bottom: 1em;
    z-index: 100;
    user-select: none;
    text-align: center;
}

/* Input animation */

.input_container {
    display: flex;
    flex-direction: column;
}

.input_container input {
    font-family: 'Poppins', sans-serif;
    outline: none;
    padding: 1em;
    border-radius: 58px;
    background: #ffffff;
    box-shadow:  15px 15px 30px #f0d8ff,
                -5px -5px 30px #fbf0ff;
    border: none;
    margin-bottom: 2em;
    max-width: 500px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: rgb(54, 0, 189);
}

.input_container input::placeholder {
    color: rgba(94, 45, 218, 0.653);
    margin: 0 auto;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/* Switch */

.pendiente {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    column-gap: 1em;
    margin-bottom: 1.5em;
}

.switch {
    position: relative;
    display: inline-block;
    max-width: 80px;
    min-width: 60px;
    height: 34px;
}

/* Checkbox ocultado */
.switch input {
    display:none;
}
   
/* Colocamos los valores como 0 */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background: #f0d8ff;
    transition: .4s;
}
   
/* Color de pelotita */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .5s;
}
   
input:checked + .slider {
    background: linear-gradient(90deg, rgba(218,45,204,1) 1%, rgba(94,45,218,1) 100%);
}

/* Pelotita hacia la derecha si está activa */ 
input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}
   
/* Bordes redondeados en check y pelotita */
.slider.round {
    border-radius: 30px;
}
   
.slider.round:before {
    border-radius: 50%;
}

#bloque {
    user-select: none;
}

/* Button */

.button {
    outline: none;
    border: none;
    position: relative;
    padding: 12px 36px;
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(218,45,204,1) 1%, rgba(94,45,218,1) 100%);
    overflow: hidden;
    margin: 0 auto;
    box-shadow:  20px 20px 60px #ccb8d9,
                 -20px -20px 60px #fff8ff;
    user-select: none; 
    text-align: center;
}

span {
    position: absolute;
    background: white;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    margin-top: 10em;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

/* Triangulo img */

.triangulo {
    max-width: 500px;
    width: 100%;
    height: 300px;
    margin-bottom: .5em;
}

/* Tabla */

#resultados {
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(30em);
    transition: 4s;
    display: none;
}

.resultados {
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    background-color: white;
    box-shadow:  20px 20px 60px #cac4c9,
                 -20px -20px 60px #ffffff;
    padding: 2em;
    user-select: none;
}

.datatable {
    width: 100%;
}

.datatable th, .datatable td {
    padding: .5em;
}

.datatable thead {
    background: linear-gradient(90deg, rgba(218,45,204,1) 1%, rgba(94,45,218,1) 100%);
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
}

.datatable th {
    text-transform: uppercase;
    font-size: 17px;
}

.datatable th {
    font-weight: bolder;
    text-align: left;
}

.datatable tbody tr {
    background: #ffd4fc;
}

.datatable tbody tr:nth-child(even) {
    background: #ffd4fc6f;
}

.datatable tbody tr {
    transition: 0.4s;
}

.datatable tbody tr:hover {
    background-color: rgba(94, 45, 218, 0.587);
    color: white;
}

/* Waiting o pantalla hasta que hayan resultados */

/* #waiting {
    margin-top: 3em;
} */

.waiting {
    max-width: 500px;
    padding: 2em;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #cac4c9,
                 -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.waiting h1 {
    font-weight: 400;
    margin-bottom: .2em;
    text-align: center;
}

.svg_animate {
    width: 300px;
    transition: all 300ms;
    animation: identifier 6s ease-in-out infinite;
}

/* Footer */

#footer svg {
    margin-bottom: -1em;
}

.footer {
    background: linear-gradient(180deg, rgba(218,45,204,1) 1%, rgba(94,45,218,1) 100%);
}

/* Equipo */

.equipo {
    height: 300px;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    height: 200px;
    width: 180px;
    border-radius: 50px;
    background: white;
    box-shadow:  20px 20px 60px #ff9ef7,
                 -20px -20px 60px #e8ace3;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}
  
.card:not(:first-child) {
    margin-left: -50px;
}
  
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
  
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.card img {
    width: 70px;
    height: 70px;
    margin-bottom: 1em;
}
  
.title_card {
    color: #000;
    font-weight: 500;
    text-align: center;
}

.card:hover {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.start {
    margin-bottom: -5em;
}

/* Responsive */

@media screen and (max-width: 500px) {
    /* Header */
    .title {
        font-size: 20px;
    }

    .img_math {
        width: 200px;
    }
    
    .wave {
        margin-top: -1em;
    }

    .start {
        margin-bottom: -5em;
    }

    /* Waiting */
    .svg_animate {
        width: 200px;
    }

    /* Cards */
    .card:hover:first-child {
        z-index: 300;
        position: relative;
    }
      
    .card:hover ~ .card {
        left: 0px;
    }
}

@media screen and (min-width: 501px) and (max-width: 830px) {
    /* Header */
    .title {
        font-size: 28px;
    }

    .img_math {
        width: 320px;
    }

    .wave {
        margin-top: -1em;
    }

    /* Form */
    .form label {
        font-size: 20px;
    }

    /* Waiting */
    .svg_animate {
        width: 280px;
    }

    /* Input */
    .input_container input {
        font-size: 17px;
    }

    /* Button */
    .button {
        font-size: 20px;
    }
}

@media screen and (min-width: 831px) {
    /* Header */
    .nav a {
        font-size: 18px;
    }

    .background {
        flex-direction: row;
        height: 400px;
        padding-top: 5em;
        max-height: 400px;
    }
    
    .title {
        font-size: 35px;
    }

    br {
        display: flex;
    }

    .img_math {
        width: 400px;
    }

    .wave {
        margin-top: -2em;
    }

    #start {
        margin-bottom: -3em;
    }

    /* Form */
    .form label {
        font-size: 20px;
    }

    /* Waiting */
    .svg_animate {
        width: 280px;
    }

    .waiting h1 {
        font-size: 20px;
    }

    /* Input */
    .input_container input {
        font-size: 17px;
    }

    /* Button */
    .button {
        font-size: 20px;
    }
}